<mat-toolbar color="primary">
    <div style="width: 200px;">
        <img src="{{brandImageUrl}}" style="width:109px; ">
    </div>
    
    <mat-form-field style="width: 300px;">
        <mat-select>
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>    
      <div style="margin-left: 10px;">
          <span>{{this.authenticationService.user.company}}</span>
          <span> - </span>
          <span>{{this.authenticationService.user.name}}</span>
      </div>
      
</mat-toolbar>
